

/* swiper */

main{ line-height: 1.5em;}
p, li{word-break: keep-all;}


.slide1_1{background: url(../images/dog-gd45d716b7_1920.jpg) no-repeat top  ;}
.slide2_1{background: url(../images/french-bulldog-g0e83f83fd_1920.jpg)no-repeat center ;}
.slide3_1{background: url(../images/puppy-gaa48abc82_1920.jpg)no-repeat center ;}
.slide4_1{background: url(../images/french-bulldog-g0e83f83fd_1920.jpg)no-repeat center ;}


/* my-strength */
#strength{     
  position: relative;
  display: block;
  margin: 66px auto 160px;
}
.strength_wrap{ 
  position: relative;
  display: table;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.strength_inner{    
  position: relative;
  display: table-cell;
  vertical-align: top;
  width:33.33%;
}
.strength_img{ width: 70%; margin: auto;}
.strength_text{ text-align: center; font-weight: 600; font-size: 1.2em;}

@media (max-width:787px){
  #strength{     
    position: relative;
    display: block;
    margin: 30px 0;
    overflow: hidden;
  }
  .strength_wrap{ 
    position: relative;
    display: block;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .strength_inner{    
    position: relative;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    margin: 0 15px 25px 15px;
    width: 80%;
  }
}

/* hot-item */

.item-list-wrap{ display: flex;  justify-content: normal; flex-wrap: wrap;} 



/* cart-modal  아이폰 안읽힘*/

#cart_modal{font-size:  .8em;}
#cart_modal .o_list_box{width: 100%;align-items: center;}
#cart_modal .o_list_box2{width: 50%;}
#cart_modal .o_list_name{width: 100%;}
.w_modal_price_box{ width: 20%;}
#cart_modal .o_item_price{ width: 50%;}
.o_list_sum_box{ width: 50%; margin-left: 20%;}
#cart_modal .o_list_sum{width: 80%;}
#index_area #option_area{ height: 75px; overflow-y: scroll;}
#cart_modal .c_modal_img { width: 20%; margin: 0 0;}
#cart_modal h3{ padding-bottom: 20px;}
.c_modal_item{display: flex; margin-bottom: 20px;}
.c_modal_option{ margin-bottom: 10px;}



.c_modal_bg{ width: 100%; height: 100vh; background: rgba(100,100,100,.5); position: fixed; top:0; left: 0; right: 0; display: none; z-index: 999; display: none; }
.cart_modal_wrap{ width: 40%; height: 760px; background: #fff; position: fixed; top:48%; left: 50%; z-index: 999; padding: 30px 20px; transform: translate(-50%, -50%); display: none; box-sizing: border-box;}
.c_modal_close_btn{ position: absolute; top: 10px; right: 15px; width: 25px; cursor: pointer;}
.c_modal_close_btn img{ width: 100%;}


@media (min-width:788px) and (max-width:1200px){

  #cart_modal{font-size:  .8em;}
  #cart_modal .o_list_box{width: 100%;}
  #cart_modal .o_list_box2{width: 50%;}
  .w_modal_price_box{ width: 20%;}
  #cart_modal .o_item_price{ width: 50%;}
  .o_list_sum_box{ width: 50%; margin-left: 20%;}
  #cart_modal .o_list_sum{width: 80%;}
  
  #cart_modal .c_modal_img { width: 20%; margin: 0 0;}
  #cart_modal h3{ padding-bottom: 20px;}
  .c_modal_item{display: flex; margin-bottom: 20px;}
  .c_modal_option{ margin-bottom: 25px;}
  
  
  
  
  #index_area #option_area{ height: 50px;}
  .c_modal_bg{ width: 100%; height: 100vh; z-index: 999; }
  .cart_modal_wrap{ width: 75%; padding:20px;}
  .c_modal_close_btn{width: 20px;}
}

@media (max-width:787px){

#index_area .o_size_box p{ width: 45%;}
#index_area #option_area{ height: 40px;}
#index_area .o_size{ padding: 3px 10px;} 
#index_area   .o_list {padding: 3px 0;}
  #cart_modal{font-size:  .7em;}
  #cart_modal .o_list_box{width: 100%;}
  #cart_modal .o_list_box2{width: 50%;}
  .w_modal_price_box{ width: 20%;}
  #cart_modal .o_item_price{ width: 50%;}
  .o_list_sum_box{ width: 50%; margin-left: 20%;}
  #cart_modal .o_list_sum{width: 80%;}
  
  #cart_modal .c_modal_img { width: 20%; margin: 0 0;}
  #cart_modal h3{ padding-bottom: 10px;}
  .c_modal_item{display: flex; margin-bottom: 20px;}
  .c_modal_option{ margin-bottom: 15px;}
  
  
  
  .c_modal_bg{ width: 100%; height: 100vh; z-index: 999; }
  .cart_modal_wrap{ width: 100%; height: 620px; z-index: 999; padding:20px;}
  .c_modal_close_btn{width: 20px;}


  
}
/* slide */

:after,
:before,
*{
    box-sizing: border-box;
}
.container {
  width:1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main-slide {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 0;
}

@media (max-width: 991px) {
  .main-slide {
    height: 600px;
  }
}

@media (max-width: 767px) {
  .main-slide {
    height: 500px;
  }
}

.main-slide .swiper-slide {
  overflow: hidden;
  color: #fff;
}

.main-slide .swiper-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.main-slide .slide-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.main-slide .swiper-button-prev,
.main-slide .swiper-button-next {
  background: transparent;
  width: 55px;
  height: 55px;
  line-height: 53px;
  margin-top: -30px;
  text-align: center;
  border: 2px solid #d4d3d3;
  border-radius: 55px;
  opacity:0;
  visibility:hidden;
  transition:all .3s ease;
}

.main-slide:hover .swiper-button-prev,
.main-slide:hover .swiper-button-next {
  transform:translateX(0);
  opacity:1;
  visibility:visible;
}
.main-slide .swiper-button-prev:hover,
.main-slide .swiper-button-next:hover{
  border: 2px solid #92278F;
}
@media (max-width: 767px) {
  .main-slide .swiper-button-prev,
  .main-slide .swiper-button-next {
    display: none;
  }
}

.main-slide .swiper-button-prev {
  left: 25px;
  transform:translateX(50px);
}
.main-slide .swiper-button-prev:hover::before{
  display: block;
}
.main-slide .swiper-button-prev:before {
  display: none;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../icon/prev.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 2s;
}

.main-slide .swiper-button-next {
  right: 25px;
  transform:translateX(-50px);
}
.main-slide .swiper-button-next:hover::before{
  display: block;
}
.main-slide .swiper-button-next:before {
  display: none;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../icon/next.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 2s;
}

.main-slide .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  text-align: left;
  line-height: 12px;
  font-size: 12px;
  color: #000;
  opacity: 0.3;
  background:#fff;
  transition:all .2s ease;
}

.main-slide .swiper-pagination-bullet-active {
  opacity:1;
}

.main-slide .swiper-container-horizontal > .swiper-pagination-bullets,
.main-slide .swiper-pagination-custom,
.main-slide .swiper-pagination-fraction {
  bottom: 30px;
}

@media screen and (min-width: 992px) {
  .main-slide .swiper-container-horizontal > .swiper-pagination-bullets,
  .main-slide .swiper-pagination-custom,
  .main-slide .swiper-pagination-fraction {
/*     display: none; */
  }
}
.swiper-pagination {
  text-align:left;
}

.main-slide .swiper-container-horizontal > .swiper-pagination-bullets{
  bottom:50px;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 767px) {
  .main-slide .swiper-container-horizontal > .swiper-pagination-bullets{
  bottom:30px;
 
}
}
/*--------------------------------------------------------------
	#slide-style
--------------------------------------------------------------*/
.slide-style {
  height: 850px;
  transition:all .4s ease;
}

@media (max-width: 991px) {
  .slide-style {
    height: 600px;
  }
}

@media (max-width: 767px) {
  .slide-style{
    height: 500px;
  }
}

@media screen and (min-width: 992px) {
  .slide-style .container {
    padding-top: 95px;
  }
}

.slide-style .slide-title,
.slide-style .slide-text,
.slide-style .slide-btns {
  max-width: 690px;
}

.slide-style .slide-title h2 {
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  margin: 0 0 40px;
  text-transform: capitalize;
  transition:all .4s ease;
}

@media (max-width: 1199px) {
  .slide-style .slide-title h2 {
    font-size: 75px;
  }
}

@media (max-width: 991px) {
  .slide-style .slide-title h2 {
    font-size: 50px;
    margin: 0 0 35px;
  }
}

@media (max-width: 767px) {
  .slide-style .slide-title h2 {
    font-size: 35px;
    margin: 0 0 30px;
  }
}

.slide-style .slide-text p {
  opacity: 0.8;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
  margin: 0 0 40px;
  transition:all .4s ease;
}

@media (max-width: 767px) {
  .slide-style .slide-text p {
    font-size: 16px;
    font-size: 1rem;
    font-weight: normal;
    margin: 0 0 30px;
  }
}

.slide-style .slide-btns > a:first-child {
  margin-right: 10px;
}


/*--------------------------------------------------------------
	#button-style
--------------------------------------------------------------*/
.theme-btn, .theme-btn-s2{
    background-color:rgba(255, 255, 255, .4);
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  color:#2b3b95;
    padding: 9px 32px;
    border: 0; 
  border-radius: 3px;
    text-transform: uppercase;
    display: inline-block;
    line-height: initial;
  transition:all .4s ease;
}
a {
    text-decoration: none;
    transition: all 0.2s ease;
}
.theme-btn-s2{
    background-color: rgba(255, 255, 255, 0.5);
    color: #131e4a;
}
.theme-btn:hover, .theme-btn-s2:hover, .theme-btn:focus, .theme-btn-s2:focus, .theme-btn:active, .theme-btn-s2:active {
    background-color:#92278F ;
    color: #fff;
}
.theme-btn-s3{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  text-transform: uppercase;
}
i.fa-chevron-circle-right{
  height:22px;
  width:22px;
}
a:hover {
    text-decoration: none;
}
@media (max-width: 991px){
  .theme-btn, .theme-btn-s2, .theme-btn-s3 {
    font-size: 13px;
    padding: 15px 25px;
  }
}
@media (max-width: 767px){
  .theme-btn, .theme-btn-s2{
    padding: 13px 20px;
    font-size: 13px;
  }
}


.main-title{ text-align: center; color: #92278F; margin: 5% 0; font-size: 2.1em;}

/* line-banner */


.line_banner{
  width: 100%;
  margin:5% auto 7%;
}

.line_banner img{
  width: 100%;
}
.m_banner{
  display: none;
}


@media (max-width: 767px){
.pc_banner{
  display: none;
}
  .m_banner{
    display: block;
  }
}

#newitem, #weekenitem, #review{ background-color: #fffef6; padding-top: 20px;}

/* review */
#review{     
  position: relative;
  display: block;
  margin: 66px auto 160px;
}
.review_wrap{ 
  position: relative;
  display: table;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.review_inner{    
  position: relative;
  display: table-cell;
  vertical-align: top;
  width: calc(25% - 30px);
  padding: 0 0 0 30px;
  border-radius: 50%;
}
.review_inner_hover{ transition: all .3s;}
.review_inner_hover:hover{ transform: scale(1.06, 1.06);  box-shadow: 0 5px 15px rgba(0, 0, 0, .3);}
.review_img img{ width: 100%;}
.review_text{ padding: 15px 7px 0;white-space: break-spaces; background-color: #fff;}
.review_name{ padding: 8px 0; border-top: 1px solid #ddd; margin-top: 5px;}
.review_star{ float: right;}

.review_more{ margin: auto 0;}
@media (max-width:787px){
  #review{     
    position: relative;
    display: block;
    margin: 30px 0;
    overflow: hidden;
  }
  .review_wrap{ 
    position: relative;
    display: block;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .review_inner{    
    position: relative;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    margin: 0 15px 25px 15px;
    width: 70%;
  }
.review_text{ padding-top: 10px;}
.review_name{ padding: 5px 0; margin-top: 3px;}
.review_star{ float: right;}
}
/* reciew-end */

/* schedule-box */
.schedule-inner{ display: flex; flex-wrap: wrap;}
.schedule-box{ width: 300px; height: 400px; padding: 0 30px; box-sizing: border-box; border: 1px solid #ccc; border-radius: 15px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); overflow: hidden; position: relative; margin: 0 15px;}
.schedule-box-title{ padding: 40px 0 10px;}
.schedule-box-content{ padding: 10px 0;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc; }
.schedule-class{ font-size: 0.8em; padding: 10px 0; font-weight: 500;}
.schedule-box-bottom{ display: flex; justify-content: space-between; }
.schedule-box-bottom p{ font-size: 0.8em; font-weight: 500;}
.schedule-preparing{ text-align: center; font-size:2em; padding: 100px 0 113px;}
.schedule-box-img{ padding: 5px 0;}
.schedule-box-img img{ width: 90%; margin: 0 auto;}
.schedule-box-bottom{ padding-top: 5px;}
.schedule-btn-box{ background-color: rgba(0, 0, 0, 0.4); width: 100%; height: 100%; position: absolute; top: 0; left: 0; text-align: center; opacity: 0; transition: all .7s;}
.schedule-btn-box:hover{ opacity: 1;}

.schedule-btn-box a{ display: inline-block; margin-top: 170px; color: #fff;  transition: all .7s; }
.schedule-btn-box a:hover{ box-shadow: 0 0 8px rgba(0, 0, 0, 0.4) ; opacity: .8;}
/* schedule-box-end */

/* schedule */
#content-new{ display: flex; margin: 5% auto; flex-wrap: wrap; justify-content: space-between;}

#schedule{ width: 55%;}
.schedule-title, .news-title, .notice-title, .schedule-title{ font-size: 1.5em; margin-bottom: 30px; color: #92278F;}
.schedule-title span a{ font-size: 0.45em; padding-left: 10px; transition: all .5s;}
.schedule-title span a:hover{ opacity: .5;}
.schedule-box-wrap{ display: flex; justify-content: space-evenly; flex-wrap: wrap;}




#news-notice{ width: 43%;}
.news-title span a, .notice-title span a{ font-size: 0.45em; padding-left: 10px; transition: all .5s;}
.news-title span a:hover, .notice-title span a:hover{ opacity: .5;}
.news-box-wrap, .notice-box-wrap{ padding: 0 5%; box-sizing: border-box;}
.news-box-wrap dl, .notice-box-wrap dl{ padding-left: 10px; border-left: 2px solid #ccc; font-weight: 400;}
.news-box-wrap dl dt, .notice-box-wrap dl dt{ font-size: 1.3em; padding-bottom: 25px;}

.news-box{ margin-bottom: 15%;}
.notice-box-wrap dl{ margin-bottom: 20px;}


@media (max-width:787px){

  #content-new{  justify-content: space-around;}
  #schedule{ width: 90%;}
  .schedule-inner { justify-content: center;}
  .schedule-box{ margin:0 0 8%;}

  #news-notice{ width: 90%; margin: 5% 0 0 0; }
  .news-title span a, .notice-title span a{ font-size: 0.45em; padding-left: 10px; transition: all .5s;}
  .news-title span a:hover, .notice-title span a:hover{ opacity: .5;}
  .news-box-wrap, .notice-box-wrap{ padding: 0 5%; box-sizing: border-box;}
  .news-box-wrap dl, .notice-box-wrap dl{ padding-left: 10px; border-left: 2px solid #ccc; font-weight: 400;}
  .news-box-wrap dl dt, .notice-box-wrap dl dt{ font-size: 1.3em; padding-bottom: 25px;}

  .news-box{ margin-bottom: 15%;}
  .notice-box-wrap dl{ margin-bottom: 20px;}
  
}

/* schedule-end */

/* cs-call */

#guide{ display: flex; flex-wrap: wrap;}

.guide-nav{ width: 55%;}

.guide-nav ul li{ border-top:1px solid #ccc ;}
.guide-nav ul li:last-child{  border-bottom:1px solid #ccc ;}
.guide-nav ul li a{ display: block; font-size: 1.5em; padding: 40px 0 40px 20px;}
.guide-nav ul li a:hover{ background-color: rgba(0, 0, 255, 0.3); text-decoration: underline;}


#cs-call{ width: 40%; background: url(../images/cs-call-bg.jpg) no-repeat center; text-align: center;  color: #fff;}
#cs-call h2{ font-weight: 400; padding-top: 125px;}
#cs-call h1{ font-weight: 400; font-size: 1.8em; padding-top: 15px;}
#cs-call p{ font-size: 1.2em; padding-top: 30px; line-height: .9em;}
#cs-call p span{ font-size: 0.7em;}

@media (max-width:787px){
  
  #guide{ justify-content: space-around;}
  .guide-nav{ width: 95%;}

  .guide-nav ul li{ border-top:1px solid #ccc ;}
  .guide-nav ul li:last-child{  border-bottom:1px solid #ccc ;}
  .guide-nav ul li a{ display: block; font-size: 1.5em; padding: 40px 0 40px 20px;}
  .guide-nav ul li a:hover{ background-color: rgba(0, 0, 255, 0.3); text-decoration: underline;}


  #cs-call{ width: 95%; background: url(../images/cs-call-bg.jpg) no-repeat center; text-align: center;  color: #fff;}
  #cs-call h2{ font-weight: 400; padding-top: 50px;}
  #cs-call h1{ font-weight: 400; font-size: 1.8em; padding-top: 15px;}
  #cs-call p{ font-size: 1.2em; padding: 40px 0; line-height: .9em;}
  #cs-call p span{ font-size: 0.7em;}
}

/* cs-call-end */