#modal input{border: 1px solid #ddd; word-break: break-all; width: 280px; padding: 5px;display:inline-block; box-sizing: border-box;}
#modal textarea{ width: 100%; height:250px; padding: 10px; box-sizing: border-box;}
.co_modal_title{ margin-bottom: 20px;}
.co_modal_title #qna_modal_title{ margin-left: 15px;}
.co_modal_text_title{ margin-bottom: 10px;}
#modal .button{ border-radius:30px; display: inline-block;}
.modal_btn_box{ margin-top: 50px; text-align: center;}
.modal_btn_box .button{ margin: 0 5px;}
@media (max-width:787px){
  #modal input{border: 1px solid #ddd; word-break: break-all; width: 280px; padding: 5px;display:inline-block; box-sizing: border-box;}
  #modal textarea{ width: 100%; height:250px; padding: 10px; box-sizing: border-box;}
  .co_modal_title{ margin-bottom: 20px;}
  .co_modal_title #qna_modal_title{ margin-left: 15px;}
  .co_modal_text_title{ margin-bottom: 10px;}
  .modal_btn_box{ margin-top: 50px;}
  .modal_btn_box .button{ margin: 0 5px;}
}

/* review_write */

.review_modal_bg{ width: 100%; height: 100vh; background: rgba(100,100,100,.5); position: fixed; top:0; left: 0; right: 0;  z-index: 999; display: none;}
.review_modal_wrap{ display: none; width: 40%; height: 650px; background: #fff; position: fixed; top:50%; left: 50%; z-index: 999; padding: 50px 20px; transform: translate(-50%, -50%); box-sizing: border-box;}
.c_modal_close_btn{ position: absolute; top: 10px; right: 10px;}
.write_imgbox{ display: flex; align-items: flex-end;}
.write_imgbox .item-img-inner{ width: 25%; }
#img_delete img{ width: 15px;height: 15px;     background-color: rgba(0,0,0,0.3);}
    @media (min-width:788px) and (max-width:1200px){

    }

    @media (max-width:787px){
 
    }
    /* review_write  end */


    /* qna */

  
  
      .qna_modal_bg{ width: 100%; height: 100vh; background: rgba(100,100,100,.5); position: fixed; top:0; left: 0; right: 0;  z-index: 999;display: none; }
      .qna_modal_wrap{display: none; width: 40%; height: 600px; background: #fff; position: fixed; top:50%; left: 50%; z-index: 999; padding: 50px 20px; transform: translate(-50%, -50%); box-sizing: border-box;}
      .c_modal_close_btn{ position: absolute; top: 10px; right: 10px;}
  
  
      @media (min-width:788px) and (max-width:1200px){
        .qna_modal_wrap{ width: 80%;}
      }
      @media (max-width:787px){
        .qna_modal_wrap{display: none; width: 100%; height: 600px; background: #fff; position: fixed; top:50%; left: 50%; z-index: 999; padding: 50px 20px; transform: translate(-50%, -50%); box-sizing: border-box;}
        .qna_modal_wrap #qna_title{ width: auto !important;}
      }





/* review detail_modal */

#review_modal_area .order_detail_wrap{ background-color: #fff; padding: 0;}
.review_modal_box {display: flex; justify-content: space-between; height: -webkit-fill-available;}


.review_modal_img{width: 41%; background-color: rgba(0, 0, 0, .75); padding: 0 8%; }
.review_modal_img .item-img-inner{ margin: 40% 0;}
.review_modal_top{ margin: 30px 0 20px;}
.review_modal_text{ width: 40%; margin-right: 2%;}
.review_modal_text_box{ height: 300px; overflow-y: scroll; font-size: .9em; box-shadow: 0 0 5px rgba(0, 0, 0, .3); border-radius: 6px;}
#p_name_show, #size_show{ display: inline-block; font-weight: 500; font-size: .9em;}
#writer_show, #writeday_show{ display: inline-block;}
#writer_show{ margin:0 10px 0 60% ; font-weight: 500;}
.review_modal_top span{ font-weight: 500; margin-right: 5px;}
#content_show{ width: 75%; margin:3% 3% 0 22%; background-color: #c866c92c; padding:10px; border-radius: 6px; box-sizing: border-box;  word-wrap: break-word;}
.reply_show_box{ width: 75%; margin:45px 25% 0 0;}
#reply_show{ word-wrap: break-word; background-color: #e6dfe38a; padding: 10px ;  border-radius: 6px; box-sizing: border-box; margin-left: 3%;}
#modal_closed_btn{ margin-top: 50px;}
#p_num_show{ color: ccc; font-size: .9em; font-weight: 500; display: block;text-align: center; transition: all .3s;}
#p_num_show:hover{color: #51545c;}

@media (max-width:788px){
    
    .review_modal_img{width: 100%; background-color: #000000d6; padding: 0 8%; }
    .review_modal_img .item-img-inner{ margin: 40% 0;}
}


/* inquire */
    #inquire_modal{ font-size:1em; }
    #inquire_modal .o_list_box{ width: 100%; }
    #inquire_modal .o_list_box2{ width: 50%; }
    #inquire_modal .o_list_name{ width: 30%; }
    .w_modal_price_box{ width: 20%;}
    #inquire_modal .o_item_price{ width: 50%;}
    .o_list_sum_box{ width: 50%; margin-left: 20%;}
    #inquire_modal .o_list_sum{width: 80%;}

    #inquire_modal .c_modal_img { width: 20%; margin: 0 0;}
    #inquire_modal h3{ padding-bottom: 20px;}
    .c_modal_item{ margin-bottom: 20px;}
    .c_modal_option{ margin-bottom: 25px;}


    .inquire_modal_bg{ width: 100%; height: 100vh; background: rgba(100,100,100,.5); position: fixed; top:0; left: 0; right: 0; display: none; z-index: 999; display: none; }
    .inquire_modal_wrap{ width: 40%; height: 65vh; background: #fff; position: fixed; top:50%; left: 50%; z-index: 999; padding: 50px 20px; transform: translate(-50%, -50%); display: none; box-sizing: border-box;}
    .c_modal_close_btn{ position: absolute; top: 10px; right: 10px;}


    @media (min-width:788px) and (max-width:1200px){

    #inquire_modal{font-size:  1em;}
    #inquire_modal .o_list_box{width: 100%;}
    #inquire_modal .o_list_box2{width: 50%;}
    #inquire_modal .o_list_name{width: 30%;}
    .w_modal_price_box{ width: 20%;}
    #inquire_modal .o_item_price{ width: 50%;}
    .o_list_sum_box{ width: 50%; margin-left: 20%;}
    #inquire_modal .o_list_sum{width: 80%;}
    
    #inquire_modal .c_modal_img { width: 20%; margin: 0 0;}
    #inquire_modal h3{ padding-bottom: 20px;}
    .c_modal_item{display: flex; margin-bottom: 20px;}
    .c_modal_option{ margin-bottom: 25px;}
    
    
    
    .inquire_modal_bg{ width: 100%; height: 100vh; background: rgba(100,100,100,.5); position: fixed; top:0; left: 0; right: 0; z-index: 999; }
    .inquire_modal_wrap{ width: 55%; height: 60vh; background: #fff; position: fixed; top:50%; left: 50%; z-index: 999; padding: 50px 20px; transform: translate(-50%, -50%); }
    .c_modal_close_btn{ position: absolute; top: 10px; right: 10px;}
    }

    @media (max-width:787px){
    #inquire_modal{font-size:  1em;}
    #inquire_modal .o_list_box{width: 100%;}
    #inquire_modal .o_list_box2{width: 50%;}
    #inquire_modal .o_list_name{width: 30%;}
    .w_modal_price_box{ width: 20%;}
    #inquire_modal .o_item_price{ width: 50%;}
    .o_list_sum_box{ width: 50%; margin-left: 20%;}
    #inquire_modal .o_list_sum{width: 80%;}
    
    #inquire_modal .c_modal_img { width: 20%; margin: 0 0;}
    #inquire_modal h3{ padding-bottom: 20px;}
    .c_modal_item{display: flex; margin-bottom: 20px;}
    .c_modal_option{ margin-bottom: 25px;}
    
    
    
    .inquire_modal_bg{ width: 100%; height: 100vh; background: rgba(100,100,100,.5); position: fixed; top:0; left: 0; right: 0;  z-index: 999; }
    .inquire_modal_wrap{ width: 100%; height:500px; background: #fff; position: fixed; top:50%; left: 50%; z-index: 999; padding: 50px 20px; transform: translate(-50%, -50%); }
    } 

    /* inquire_modal */

    .inquire_point{ font-weight: 500; width: 15%; display: inline-block; margin-bottom: 15px;}
    .inquire_modal_wrap #inquire_content{ height: 200px;}
    .inquire_modal_wrap .co_modal_title{ margin-bottom: 0;}
    #inquire{ width: 280px; padding: 5px;}
    @media(max-width:787px){
      .inquire_modal_wrap #inquire_content{ height: 150px;}
    }

/* recall_modal */
#recall_modal .item-img-inner{ width: 30%;}
.reason_box{ display: flex; margin-bottom: 10px;}
#recall_modal select{ border: 1px solid #ddd; margin-left: 20px; width: 100px; padding: 0 5px;}
#recall_modal textarea{ width: 100%; padding: 5px 0 0 5px; font-size: .9em; margin-bottom: 20px;}
.r_imgbox{display: flex; align-items: self-end; margin-bottom: 60px;}
.recall_btn_box{ text-align: center;}
.recall_btn_box .button{ display: inline-block; margin: auto 5px; border-radius: 30px;}
#recall_img{ margin-left: 20px; width: 120px;}

#recall_img, .img_upload_btn { display: inline-block;}
.img_upload_btn { cursor: pointer; border-radius: 5px; box-shadow: 0 0  5px rgba(0, 0, 0, .15); padding: 2px 5px;}


.recall_bg{ width: 100%; height: 100vh; background: rgba(100, 100, 100, .5); position: fixed; top:0; left: 0; right: 0; z-index: 999; display: none;}
.recall_wrap{ width: 600px; height: 460px; background: #fff; position: fixed; top:50%; left: 50%; z-index: 999; padding: 30px 20px; transform: translate(-50%, -50%); display: none;}
.c_modal_close_btn{ position: absolute; top: 10px; right: 10px;}
.file_text input::file-selector-button { display: none;}


.flex{ display: flex;}
.order_detail_bg{ width: 100%; height: 100vh; background: rgba(100,100,100,.5); position: fixed; top:0; left: 0; right: 0; z-index: 999; }
.order_detail_wrap{ width:750px; height: 60vh; background: #fff; position: fixed; top:50%; left: 50%; z-index: 999; padding:30px 35px; transform: translate(-50%, -50%);}

.c_modal_close_btn{ position: absolute; top: 10px; right: 10px;}

@media (max-width:787px){


  .recall_bg{ width: 100%; height: 100vh; }
  .recall_wrap{ width: 100%; height: 450px;  padding: 30px 20px; box-sizing: border-box;}
  .recall_btn_box #modal_closed_btn{ width: auto;}
}

  
  /* order_detail_modal */
.order_detail_wrap h2{ text-align: center; margin-bottom: 10px;}
.modal_closed_btn{position: absolute; top: 20px; right: 20px; width: 20px; display: block; opacity: .7;} 
.modal_closed_btn img{width: 100%;} 
.order_detail_ordernum{margin-bottom: 15px;justify-content: center;}
#order_detail_ordernumber::before{content: "│";color: #7D287E; display: inline-block;}
.order_detail_wrap h4{ display: block; font-size: 1rem; margin-bottom: 12px; border-bottom: 1px solid #51545c; padding-bottom: 5px;}
#order_detail_ordernumber span{ color: #7D287E; font-weight: 500;}
.od_top, .od_bottom{ display: flex; flex-wrap: wrap; }
.od_top section, .od_bottom section{ width: 48%; margin-bottom:20px;}

.od_list_wrap li, .od_destination_wrap li{ display: flex;}
.od_list1{width: 25%;}
.od_list1 .item-img-inner{width: 60%; margin: 0 auto;}
.od_list_wrap{text-align: center; height: 150px; overflow-y: scroll;}
.od_list_menu .od_list2{ text-align: center;}
.od_list2{ width:55%; text-align: left; font-weight: 500; word-break:break-all;}
.od_list3{ width: 20%;}
.od_list_wrap li {width: 98%;}
.od_list{  box-shadow: 0 2px 2px rgba(0, 0, 0, .1); margin-bottom: 8px; padding-bottom: 3px;  align-items: center;}
.od_list_menu{ border-bottom: 1px solid #ddd; padding-bottom: 5px; margin-bottom: 5px;}
.od_list_menu .od_list1{text-align: center;}
.od_itemprice_wrap .od_list1{ width: 40%;}
.od_itemprice_wrap .od_list2{ width: 20%; text-align: center;}
.od_itemprice_wrap .od_list3{ width: 40%;}


.od_itemprice_wrap li, .od_payment_wrap li{ display: flex;}
.order_detail_destination, .order_detail_payment{ padding-left: 5%; box-sizing: border-box;}
.od_destination_wrap h5, .od_payment_wrap h5{ font-size: 1em; font-weight: 500; width: 25%; margin-bottom: 8px;}


.od_itemprice_wrap{text-align: center; height: 80px; overflow-y: scroll;}
.order_detail_itemprice .od_list1{text-align: left; font-weight: 500; word-break:break-all;}
.od_itemprice_wrap li {width: 98%;}
.order_detail_itemprice .od_list{  box-shadow: 0 2px 2px rgba(0, 0, 0, .1); margin-bottom: 8px; padding-bottom: 3px;  align-items: center;}
.order_detail_itemprice .od_list_menu{ border-bottom: 1px solid #ddd; padding-bottom: 5px; margin-bottom: 5px;}
.order_detail_itemprice .od_list_menu .od_list1{text-align: center;}
  
.order_detail_totalprice{ justify-content: end; margin-top: 10px; border-top: 1px solid #7D287E; font-size: 1.1em; padding-top: 10px;}

.order_detail_totalprice p{ padding-right: 3px;}
.od_item_delivery span{ font-size: .7em;}
.od_item_totalprice span, .od_sum_totalprice span{ font-size: 1.2em; font-weight: 500;}
.od_sum_totalprice span {color: #7D287E;}

.pay_way p span::before{content: "│"; display: inline-block; }
.pay_way_day{ line-height: .5em; font-size: .85em;}

.order_detail_wrap  #modal_closed_btn{width: 120px;border-radius: 30px; margin: 15px auto 5px;}
@media (min-width:788px) and (max-width:1200px){
  .order_detail_wrap{ width:650px;}
}

@media (max-width:787px){
  .modal_closed_btn{ top: 50px; right: 50px; } 
  .order_detail_wrap{ width:100%; height:100%; overflow-y: scroll;}

  .order_detail_wrap h2{ margin:60px auto 10px; width: 95%;} 
  .order_detail_ordernum{margin-bottom: 15px;}
  
  .od_top section, .od_bottom section{ width: 95%; margin:0 auto 20px;}

  .od_list1{ width:20%;}
  .od_list1 .item-img-inner{width:85%; }
  .od_list2{ width: 55%; text-align: left; font-weight: 500; word-break:break-all;}
  .od_list3{ width: 25%;}

  .order_detail_destination, .order_detail_payment{ padding-left:0;}
  #modal_closed_btn{width: 98%;  border-radius: 30px;}
}




.my_title { margin-bottom: 15px;}
@media (max-width:787px){
.title_back::before{ display: inline-block; content: ""; border-left: 2px solid #ddd; border-bottom: 2px solid #ddd; width: 13px; height: 13px; transform: rotate(45deg); float: left; margin-top: .5em;}
.my_title{ width: 95%; margin: 0 auto 7%; text-align: center; }
}


/* 탈퇴 modal */



.withdraw-modal-bg{ width: 100%; height: 100vh; background: rgba(100,100,100,.5); position: fixed; top:0; left: 0; right: 0; display: none; z-index: 999; display: none; }
.withdraw-modal{ width: 40%; height: 65vh; background: #fff; position: fixed; top:50%; left: 50%; z-index: 999; padding: 50px 20px; transform: translate(-50%, -50%); display: none; box-sizing: border-box;}